<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/general.css">
    <link rel="stylesheet" href="../static/enter.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="form" id="form">
        <h1>Регистрация</h1>
        <input id="login" type="text" placeholder="Логин">
        <input id="password" type="password" placeholder="Пароль">
        <button onclick="Send()">Вход</button>
    </div>
</body>
<script src="../static/login.js"></script>
</html>